.wrapper{
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0 auto;
}

/*========= BUTTON STYLING =========*/
.number_button{
  width: 20%;
  background: lime;
  height: 120px;
}

#equals{
  width: 30%;
  background: lime;
  height: 120px;
}
